*.pyc
*.spec
*.egg-info
*.eggs
*.whl
wheels
__pycache__
python/examples/datasets
python/examples/results
python/examples/logs
python/examples/progress.db
dist
undr
build
local-build
!app/python/undr
node_modules
