name: Create release

on:
  push:
    branches:
      - main

jobs:
  build:
    if: startsWith(github.event.head_commit.message, '[release]')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Release name
        id: release_name
        run: printf "VALUE='v$(python scripts/version.py --maximum)'" >> $GITHUB_OUTPUT
      - name: Release body
        id: release_body
        run: |
          delimiter="$(openssl rand -hex 8)"
          echo "VALUE<<${delimiter}" >> "${GITHUB_OUTPUT}"
          python scripts/release_body.py >> $GITHUB_OUTPUT
          echo "${delimiter}" >> "${GITHUB_OUTPUT}"
      - uses: softprops/action-gh-release@v1
        with:
          body: ${{ steps.release_body.outputs.VALUE }}
          tag_name: ${{ steps.release_name.outputs.VALUE }}
          draft: true
          prerelease: false
