name: Update documentation

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  update_documentation:
    if: ${{ startsWith(github.event.head_commit.message, '[doc]') || startsWith(github.event.head_commit.message, '[release]') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - run: pip install -r documentation/requirements.txt
      - run: sphinx-build documentation documentation/_build
      - name: deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: documentation/_build/
          force_orphan: true
